snippet codee "c"
{{{c
${1}
  }}}
endsnippet

snippet code "class=brush:"
{{{class="brush:${1}"
${2}
  }}}
endsnippet

snippet codec "class=brush:c"
{{{class="brush:c"
${1}
  }}}
endsnippet

snippet codesh "class=brush:bash"
{{{class="brush:bash"
${1}
  }}}
endsnippet

snippet codepy "class=brush:python"
{{{class="brush:python"
${1}
  }}}
endsnippet
